<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Your description goes here" />
		<meta name="keywords" content="one, two, three" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<header>
			<nav>
				<div><h4>Source</h4></div>

				<ul>
					<li>link</li>
					<li>link</li>
					<li>link</li>
					<li>link</li>
				</ul>
				<input type="button" value="Button" />
			</nav>
		</header>
		<section>
			<section>
				<span>TAGLINE</span>
				<h2>Source help creators do more of what they love</h2>
				<form action="">
					<input type="text" placeholder="placeholder" />
					<input type="button" value="button" />
				</form>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur non
					sunt omnis nostrum,
				</p>
			</section>
			<section>
				<img src="img/Screenshot (272).png" alt="laptop mobile" />
			</section>
			<main>
				<ul class="sec2">
					<li>
						<h6>Feature One</h6>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
							inventore ipsam quas.
						</p>
						<a href="#">First Link > </a>
					</li>
					<li>
						<h6>Feature Two</h6>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
							inventore ipsam quas.
						</p>
						<a href="#">Second Link > </a>
					</li>
					<li>
						<h6>Feature Three</h6>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
							inventore ipsam quas.
						</p>
						<a href="#">Third Link > </a>
					</li>
					<li>
						<h6>Feature Four</h6>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
							inventore ipsam quas.
						</p>
						<a href="#">Fourth Link > </a>
					</li>
				</ul>
			</main>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
