* {
	box-sizing: border-box;
	margin: 0;
}

header,
footer {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	clear: both;
}

div {
	height: 100px;
	border: 1px solid black;
	clear: both;
}

.sec1 {
	width: 30%;
	height: 300px;
	border: 1px solid black;
	float: left;
}
.sec2 {
	width: 70%;
	height: 300px;
	border: 1px solid black;
	float: left;
}
